@import './utility.css';
@import './override.css';

.cs-navbar {
  .cs-navbar__logo {
    font-size: 24px !important;
    font-weight: bold !important;

    /* display: flex;
    align-items: center;
    justify-content: center; */

    span {
      margin-left: 8px;
    }
  }
}

.cs-main-banner {
  .cs-main-banner__catchphrase {
    font-size: 16px;
  }
}
